<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firefly_animationsfireflyloop000.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,148},{11,10}}</string>
                <key>offset</key>
                <string>{81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,70},{11,10}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,160},{11,10}}</string>
                <key>offset</key>
                <string>{77,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,74},{11,10}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{11,10}}</string>
                <key>offset</key>
                <string>{72,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,78},{11,10}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop004.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,79},{13,12}}</string>
                <key>offset</key>
                <string>{67,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,80},{13,12}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,93},{13,12}}</string>
                <key>offset</key>
                <string>{62,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,84},{13,12}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,39},{33,38}}</string>
                <key>offset</key>
                <string>{57,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,74},{33,38}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{35,36}}</string>
                <key>offset</key>
                <string>{51,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,77},{35,36}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{39,38}}</string>
                <key>offset</key>
                <string>{45,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,79},{39,38}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{43,42}}</string>
                <key>offset</key>
                <string>{39,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,79},{43,42}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,53},{49,48}}</string>
                <key>offset</key>
                <string>{33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,77},{49,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,103},{47,48}}</string>
                <key>offset</key>
                <string>{28,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,79},{47,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,104},{47,48}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,80},{47,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop013.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,105},{47,48}}</string>
                <key>offset</key>
                <string>{16,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,81},{47,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop014.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,54},{49,48}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,82},{49,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop015.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,55},{49,48}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,83},{49,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{49,48}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{49,48}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop017.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{49,50}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,82},{49,50}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop018.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{51,50}}</string>
                <key>offset</key>
                <string>{-15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,82},{51,50}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop019.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{51,52}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{51,52}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,54}}</string>
                <key>offset</key>
                <string>{-28,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,78},{55,54}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop021.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,79},{13,14}}</string>
                <key>offset</key>
                <string>{-33,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,97},{13,14}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop022.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,94},{13,12}}</string>
                <key>offset</key>
                <string>{-39,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,97},{13,12}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop023.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,148},{11,12}}</string>
                <key>offset</key>
                <string>{-45,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,95},{11,12}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop024.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,148},{11,12}}</string>
                <key>offset</key>
                <string>{-51,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,93},{11,12}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop025.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,152},{11,10}}</string>
                <key>offset</key>
                <string>{-57,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,92},{11,10}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop026.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,152},{11,10}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{11,10}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop027.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,152},{11,10}}</string>
                <key>offset</key>
                <string>{-68,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,87},{11,10}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop028.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop029.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop030.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop031.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop032.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop033.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop034.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop035.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop036.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop037.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop038.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop039.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>firefly_animationsfireflyloop040.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,39},{1,1}}</string>
                <key>offset</key>
                <string>{-124,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Firefly.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:315150588eab2d7a1aac11479a9caf13:a983117c47ad9feb8b89aedbf61d7da5:a5d048e8689b7d9ccdfb2763e2a71b95$</string>
            <key>textureFileName</key>
            <string>Firefly.png</string>
        </dict>
    </dict>
</plist>
