<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raindrop_animationsraindrop000.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,42},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,42},{4,96}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,72},{4,96}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop002.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,146},{40,38}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,676},{46,46}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,142},{46,46}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,676},{54,54}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,138},{54,54}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,654},{60,60}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,135},{60,60}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,648},{66,66}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,132},{66,66}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,600},{72,74}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,128},{72,74}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,566},{80,80}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,125},{80,80}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,566},{86,86}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,122},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop010.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,404},{92,90}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,120},{92,90}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop011.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,306},{96,98}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,116},{96,98}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,496},{102,102}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,114},{102,102}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,566},{108,108}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,111},{108,108}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{112,112}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,109},{112,112}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{118,118}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,106},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop016.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,442},{122,122}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,104},{122,122}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,438},{126,126}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,102},{126,126}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,306},{130,130}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,100},{130,130}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop019.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,306},{134,134}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,98},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{138,138}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,96},{138,138}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{142,142}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,94},{142,142}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop022.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,158},{146,146}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,92},{146,146}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop023.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,156},{148,150}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,90},{148,150}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop024.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,89},{152,152}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop025.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,154}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,88},{154,154}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,156}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,87},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>raindrop_animationsraindrop027.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,42},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindrop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8822a31e19c7028baf082fe2cf6df43:836c0daad29ccbd275a7186cadb393a9:92d9e3d3ab464e9e91e1c3a9a7761908$</string>
            <key>textureFileName</key>
            <string>Raindrop.png</string>
        </dict>
    </dict>
</plist>
