<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food_eateneaten000.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,742},{26,26}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,742},{26,26}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,748},{24,24}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{24,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten003.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,758},{24,24}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{24,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,752},{24,24}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{24,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,758},{22,22}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{22,22}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten006.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,756},{24,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{24,22}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{30,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{30,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,708},{34,26}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{34,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,564},{40,28}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,25},{40,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten010.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,705},{44,30}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{44,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten011.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,726},{48,30}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{48,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,714},{52,32}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{52,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten013.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,668},{54,34}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{54,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten014.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,692},{54,32}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{54,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,648},{56,32}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{56,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten016.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,668},{56,32}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{56,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten017.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,616},{56,32}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{56,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten018.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,682},{56,30}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{56,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten019.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,660},{56,30}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{56,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten020.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,737},{30,30}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{30,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten021.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,606},{28,30}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{28,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten022.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,678},{28,28}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{28,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,648},{28,28}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{28,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten024.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,752},{26,16}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{26,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_eateneaten025.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,598},{1,1}}</string>
                <key>offset</key>
                <string>{-34.5,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>food_timercountdown000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown010.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown014.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown015.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown016.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown018.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{98,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown019.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{96,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown020.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,406},{94,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown021.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,408},{90,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{84,100}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown023.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,410},{80,100}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown024.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,410},{74,100}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown025.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,486},{68,100}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown026.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,500},{62,100}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown027.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,502},{58,100}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown028.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,562},{52,100}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{50,100}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown030.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,492},{50,100}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown031.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,544},{50,98}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{50,96}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown033.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,556},{50,92}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown034.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,596},{50,86}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{50,80}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{50,74}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown037.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,564},{50,70}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown038.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,616},{50,66}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown039.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,608},{50,62}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown040.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,608},{50,58}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown041.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,616},{50,56}}</string>
                <key>offset</key>
                <string>{-25,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{50,54}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown043.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,720},{50,50}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown044.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,726},{50,50}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown045.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,704},{50,50}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown046.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,690},{50,50}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown047.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,668},{50,50}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown048.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,756},{48,50}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown049.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,778},{46,50}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown050.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,638},{42,50}}</string>
                <key>offset</key>
                <string>{-21,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown051.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,674},{38,50}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown052.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,702},{34,50}}</string>
                <key>offset</key>
                <string>{-17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown053.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,744},{30,50}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown054.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,653},{24,50}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown055.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,601},{18,50}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{18,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown056.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,738},{12,50}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{12,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown057.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,556},{8,50}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{8,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown058.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,548},{2,48}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{2,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>food_timercountdown059.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,598},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foodEaten.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78fecc72bb0bccd82b9a47c957e7a2fc:30fc55dd73cd9b7833bbb53cd3b92120:513126edb649c5c4676ba1dd9083c84d$</string>
            <key>textureFileName</key>
            <string>foodEaten.png</string>
        </dict>
    </dict>
</plist>
