<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DragonFly_animationsflyloop000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop005.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop006.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop007.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop008.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop017.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop018.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop019.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop020.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop021.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop022.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop023.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop024.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,96},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop025.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop026.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,299},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop027.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,408},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop028.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,517},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop029.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,626},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop030.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,735},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop031.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,844},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop032.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop033.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop034.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop035.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop036.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop037.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop038.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,190},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop039.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop040.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,393},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop041.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,502},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop042.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,611},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop043.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,720},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop044.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,829},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop045.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop046.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop047.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop048.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop049.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop050.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,284},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop051.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,378},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop052.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,487},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop053.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,596},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>DragonFly_animationsflyloop054.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,705},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DragonFly.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b3fa0a3962d8e3639f87fab324de552:4385762abd0504caf7cc030d55f4b488:8200ecb805488694a5f925f99816c2ae$</string>
            <key>textureFileName</key>
            <string>DragonFly.png</string>
        </dict>
    </dict>
</plist>
