<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>koi_animationseat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,154},{100,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,464},{106,144}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{106,144}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,458},{104,138}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{104,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat003.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,458},{106,142}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{106,142}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,152},{102,146}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{102,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{96,148}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{96,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,154},{96,150}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{96,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,298},{96,146}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{96,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,456},{96,140}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{96,140}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,448},{98,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{98,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{98,148}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{98,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat011.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{102,150}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{76,130}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{76,130}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat013.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,458},{70,138}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{70,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat014.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,458},{78,138}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{78,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat015.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,458},{88,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{88,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,452},{76,144}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{76,144}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,144},{90,142}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{90,142}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{74,146}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{74,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat019.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,458},{70,138}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{70,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,288},{70,142}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{70,142}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,150},{82,146}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{82,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,446},{96,146}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{96,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,302},{98,148}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{98,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat024.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,306},{98,150}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{98,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,306},{98,150}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{98,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseat026.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{100,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull000.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,154},{100,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,464},{106,144}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{106,144}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,458},{104,138}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{104,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull003.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,458},{106,142}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{106,142}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{102,146}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{102,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,302},{96,148}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{96,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,154},{96,150}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{96,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,298},{96,146}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{96,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,456},{96,140}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{96,140}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,452},{98,144}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{98,144}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,306},{102,148}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{102,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull011.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,458},{104,148}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{104,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{104,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{104,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,300},{102,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{102,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull014.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,154},{100,150}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{100,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{100,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,452},{98,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{98,142}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,446},{98,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{98,142}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,458},{96,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{96,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull019.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,458},{96,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{96,138}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{96,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{96,140}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,452},{98,144}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{98,144}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,152},{98,148}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{98,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{98,150}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{98,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationseatFull024.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,306},{100,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,306},{102,150}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,152}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{102,152}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,306},{102,150}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,152},{102,148}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{102,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{102,148}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{102,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,154},{102,150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop006.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{102,150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop007.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{100,150}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,302},{102,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{102,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,152},{100,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{100,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{100,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{100,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,302},{100,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,150},{102,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{102,146}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,152},{100,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{100,148}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop014.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,154},{100,150}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop015.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,306},{102,150}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop016.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,306},{100,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop017.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{100,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop018.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,154},{100,150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{100,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop019.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,154},{102,150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{102,152}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{102,152}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,152}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{102,152}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop023.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{102,150}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop024.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,306},{102,150}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop025.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop026.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,156},{104,150}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{104,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop027.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{104,150}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{104,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop028.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,308},{104,150}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{104,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop029.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,154},{104,150}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{104,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop030.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{102,150}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>koi_animationsswimLoop031.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,306},{102,150}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{102,150}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>koiSwim.png</string>
            <key>size</key>
            <string>{2028,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1425e6ab48ffae9e4a1f6690ae596aad:59281c89b4c3f8dfee2465f0628efc93:c06e8fb66e04792a30307fb18cee1b23$</string>
            <key>textureFileName</key>
            <string>koiSwim.png</string>
        </dict>
    </dict>
</plist>
